.dashboard__Incomplete {
    .middle__heading h2 {
        font-size: 5rem;
    }
    .para__box .subpara {
        font-size: 5rem;
        width: 100%;
        line-height: 5.2rem;
        margin-bottom: 3rem;
    }
}
