.tutor_indivisual_curricular2_container2{
    padding: 0 3.125rem;
    margin-top: 3.656rem;
}
.tutor_indivisual_curricular2_container3{
    padding: 0 3.125rem;
    .horizontalline_new{
        margin-top: 6.25rem;
    }
}
.tutor_individual_curricular2_container5{
    padding: 0 3.125rem;
}
.tutor_individual_curricular2_container4{
    padding-left:3.125rem;
    padding-right: 3.125rem;
    padding-top: 3.125rem;
}
.tutor_indivisual_curricular2_container1{
    padding: 0 3.125rem;
    margin-top: 5.625rem;
}

@media only screen and(min-width:768px){
   
.tutor_indivisual_curricular2_container2{
    .extra_curricular_tagContainer{
        padding-left: 3.125rem;
    }
}


}
