.searchInputReusable {
    border-bottom: 1.5px solid #d0d0d0;
    color: #989898;
    .goButton {
        display: inline-block;
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
        transform: translate(1.5rem, 0.925rem);
        color: #787878;
        cursor: pointer;
        padding: 0.2rem 1rem;
        user-select: none;

        &:hover {
            background-color: F8F8F8;
        }
        &:active {
            background-color: F8F8F8;
            transform: translate(1.5rem, 0.8rem);
        }
    }
    input {
        color: #787878;
        display: inline-block;
        border: none;
        height: 4rem;
        width: 90%;
        font-size: 2rem;
        font-weight: 300;
        padding-bottom: 0.2rem;
        box-sizing: border-box;

        &::placeholder {
            color: #787878;
            font-family: CircularXXWeb;
        }

        button {
            display: inline-block;
            text-decoration: none;
        }

        &:focus {
            outline: none;
            font-size: 2rem;
            color: #787878;
        }
    }
}
