.Toastify__toast{
    background-color: $white;
    padding: 1.562rem;
    box-shadow: 0px 0px 20px #0000000D;
    .Toastify__toast-body{
        font-size: 1.25rem;
        font-family: 'CircularXXWeb-Book';
        color: $black;
        padding: 1rem 0;
    }
    .Toastify__progress-bar{
        background-color: $black;
    }
}