$white: #fff;
$primary: #007aff;
$lightPrimary: #64b6ff;
$lightGray: #e0e3e6;
$gray: #8b8b8b;
$grayPrimary: #cfcfcf;
$textPrimary: #54617a;
$headingPrimary: #acaeaf;
$darkGray: #2e3039;
$black: #000;
$bodyColor: #f7f7f7;
$titleGray: #5f5f5f;
$borderColor: #00000029;

$fontColorDarkGray: #202020;
$fontColorLighterGray: #707070;

// images
$loginBgImg: url('https://res.cloudinary.com/ddwbbzuxw/image/upload/v1596610832/gluschool/student_yqajv6.jpg');
$girlSketting: url('https://res.cloudinary.com/ddwbbzuxw/image/upload/v1596608132/gluschool/girlScatter_rxende.jpg');
$girlSkettingMobile: url('https://res.cloudinary.com/ddwbbzuxw/image/upload/v1596608142/gluschool/sketterMobile_zpf9zq.jpg');
$smileGirl: url('https://res.cloudinary.com/ddwbbzuxw/image/upload/v1596608142/gluschool/smilegirl_ellmdm.jpg');
$student: url('https://res.cloudinary.com/ddwbbzuxw/image/upload/v1596610832/gluschool/student_yqajv6.jpg');
